@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

* {
  font-family: 'Varela Round', sans-serif;
  line-height: 2;
}

body {
  min-height: 100%;
  line-height: 1;
  background-size: auto;
}

.addReviewButton:hover {
  background-color: #f88a3b;
}

.addReviewButton {
  width: 150px;
  border-radius: 20px;
  border: 2px solid #D8E2DC;
  background-color: #FFD7BA;
  transition-duration: 0.5s;
  }

.favouriteButton {
  background-color: #FEC5BB;
  border-color: #FFD7BA;
  border-radius: 20px;
  width: 30%;
  font-size: 12px;
}

.favouriteButton:hover {
  background-color: #FFD7BA;
}

.loginButton {
  background-color: #FEC5BB;
  border-color: #FFD7BA;
  border-radius: 20px;
  width: 20%;
  font-size: 16px;
  color: black;
}

.btn {
  background-color: #FEC5BB;
  width: 30%;
}

@media (min-width: 400px) {  
  .login-container {min-width: 100px};
  .loginButton {font-size: 12px};
  .signup-container {min-width: 100px};
  .addReviewButton {min-width: 50px};
}

@media (min-width: 768px) {  
  .login-container {min-width: 100px};
  .loginButton {font-size: 12px};
  .signup-container {min-width: 100px};
  .addReviewButton {min-width: 90px};
}

@media (min-width: 992px) { 
  .login-container {min-width: 150px};
  .loginButton {font-size: 14px};
  .signup-container {min-width: 150px};
  .addReviewButton {min-width: 120px};
}

@media (min-width: 1200px) {  
  .login-container {min-width: 200px}; 
  .loginButton {font-size: 16px};
  .signup-container {min-width: 200px};
  .addReviewButton {min-width: 150px};
}