* {
  font-family: 'Varela Round';
}

body {
  margin: 0;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

a:hover {
  font-size: 110%;
  transition: all .2s ease-in-out;
  transform: scale(1.1); 
}
